/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
  combos {
    compatible = "zmk,combos";

    combo_gaming {
      timeout-ms = <50>;
      key-positions = <0 4>; // Q and B positions
      bindings = <&to 8>;
    };
  };
  
  behaviors {
    // Fast homerow mods for stronger fingers (T, N - shift keys)
  hml_fast: homerow_mods_left_fast {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <130>;
      quick-tap-ms = <100>;
      require-prior-idle-ms = <30>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 30 31 32 33>;
    };

  hmr_fast: homerow_mods_right_fast {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <130>;
      quick-tap-ms = <100>;
      require-prior-idle-ms = <30>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33>;
    };

    // Medium homerow mods for ctrl keys (S, E)
  hml_med: homerow_mods_left_medium {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <160>;
      quick-tap-ms = <110>;
      require-prior-idle-ms = <50>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 30 31 32 33>;
    };

  hmr_med: homerow_mods_right_medium {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <160>;
      quick-tap-ms = <110>;
      require-prior-idle-ms = <50>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33>;
    };

    // Slow homerow mods for weaker fingers (A, R, I, O - alt/gui)
  hml_slow: homerow_mods_left_slow {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <190>;
      quick-tap-ms = <125>;
      require-prior-idle-ms = <80>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 30 31 32 33>;
    };

  hmr_slow: homerow_mods_right_slow {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <190>;
      quick-tap-ms = <125>;
      require-prior-idle-ms = <80>;
      bindings = <&kp>, <&kp>;
      hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33>;
    };

  // useful to make layer switching faster for thumb keys
  // and switching to mouse key layer
  lt_fast: layer_tap_fast {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <125>;
      quick-tap-ms = <100>;
      require-prior-idle-ms = <50>;
      bindings = <&mo>, <&kp>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    // Layer 0: Base (Colemak-DH)
    default_layer {
      bindings = <
        &kp Q           &kp W           &kp F           &kp P           &kp B           &kp J    &kp L           &kp U           &kp Y           &lt 9 SQT
        &hml_slow LALT A &hml_med LGUI R &hml_med LCTRL S &hml_fast LSHIFT T &kp G    &kp M &hmr_fast LSHIFT N &hmr_med LCTRL E &hmr_med LGUI I &hmr_slow LALT O
        &lt_fast 7 Z    &kp X           &kp C           &kp D           &kp V           &kp K    &kp H           &kp COMMA       &kp DOT         &lt 7 SLASH
        &kp LGUI    &lt_fast 2 SPACE  &lt_fast 1 ESC  &lt_fast 3 TAB  &lt_fast 4 BSPC    &lt_fast 5 ENTER
        >;

      sensor-bindings = <&inc_dec_kp C_AC_SCROLL_DOWN C_AC_SCROLL_UP>;
    };

    // Layer 1: Function
    function_layer {
      bindings = <
        &none           &none           &none           &none           &none           &kp PSCRN       &kp F7          &kp F8          &kp F9          &kp F12
        &kp LALT        &kp LGUI        &kp LCTRL       &kp LSHIFT      &kp ESC         &kp PAUSE_BREAK &kp F4          &kp F5          &kp F6          &kp F11
        &none           &none           &none           &none           &none           &kp SLCK        &kp F1          &kp F2          &kp F3          &kp F10
        &none           &none           &trans          &kp TAB         &kp BSPC        &kp ENTER
        >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    // Layer 2: Navigation
    navigation_layer {
      bindings = <
        &none           &none           &none           &none           &none           &kp LG(LS(Z))   &kp LG(V)       &kp LG(C)       &kp LG(X)       &kp LG(Z)
        &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHIFT      &kp ESC         &caps_word      &kp LEFT        &kp DOWN        &kp UP          &kp RIGHT
        &mo 6           &none           &none           &none           &none           &kp INS         &kp HOME        &kp PG_DN       &kp PG_UP       &kp END
        &none           &trans          &none           &kp TAB         &kp DEL         &kp ENTER
        >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    // Layer 3: Media
    media_layer {
      bindings = <
        &none           &none           &none           &none           &none           &none           &none           &none           &none           &none
        &kp C_PREV      &kp C_VOL_DN    &kp C_MUTE      &kp C_VOL_UP    &kp C_NEXT      &none           &kp LSHIFT      &kp LCTRL       &kp LGUI        &kp LALT
        &none           &none           &none           &none           &none           &none           &none           &none           &none           &none
        &kp C_PLAY_PAUSE &kp C_PLAY_PAUSE &kp C_STOP     &trans          &none           &none
        >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    // Layer 4: Numeral
    numeral_layer {
      bindings = <
        &kp LBKT        &kp N7          &kp N8          &kp N9          &kp RBKT        &none           &none           &none           &none           &none
        &kp SEMI        &kp N4          &kp N5          &kp N6          &kp EQUAL       &none           &kp LSHIFT      &kp LCTRL       &kp LGUI        &kp LALT
        &kp GRAVE       &kp N1          &kp N2          &kp N3          &kp BSLH        &none           &none           &none           &none           &none
        &kp LPAR        &kp N0          &kp MINUS       &none           &trans          &none
        >;

      sensor-bindings = <&inc_dec_kp LG(Z) LG(LS(Z))>;
    };

    // Layer 5: Symbols
    symbols_layer {
      bindings = <
        &kp LBRC        &kp AMPS        &kp ASTRK       &kp LPAR        &kp RBRC        &none           &none           &none           &none           &none
        &kp COLON       &kp CARET       &kp PRCNT       &kp DLLR        &kp PLUS        &none           &kp LSHIFT      &kp LCTRL       &kp LGUI        &kp LALT
        &kp TILDE       &kp EXCL        &kp AT          &kp HASH        &kp PIPE        &none           &none           &none           &none           &none
        &kp LPAR        &kp RPAR        &kp UNDER       &none           &none           &trans
        >;

      sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
    };

    // Layer 6: Virtual Mouse
    virtual_mouse_layer {
      bindings = <
        &none           &none           &none           &none           &none           &none           &none           &none           &none           &none
        &kp LGUI        &kp LALT        &kp LCTRL       &kp LSHIFT      &kp ESC         &none           &none           &none           &none           &none
        &none           &none           &none           &none           &none           &none           &none           &none           &none           &none
        &none           &none           &trans          &mkp MB3        &mkp MB1        &mkp MB2
        >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    // Layer 7: Pointer (accessed via Z and / keys)
    pointer_layer {
      bindings = <
        &bootloader     &sys_reset      &none           &none           &none           &none           &none           &none           &sys_reset      &bootloader
        &kp LALT        &kp LGUI        &kp LCTRL       &kp LSHIFT      &none           &none           &kp LSHIFT      &kp LCTRL       &kp LGUI        &kp LALT
        &trans          &none           &none           &mkp MB3        &none           &none           &mkp MB3        &none           &none           &trans
        &mkp MB3        &mkp MB2        &mkp MB1        &mkp MB1        &mkp MB2        &mkp MB3
        >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    // Layer 8: Gaming
    gaming_layer {
      bindings = <
        &kp T           &kp Q           &kp W           &kp E           &kp R           &kp Y    &kp U           &kp I           &kp O           &to 0
        &kp LSHIFT      &kp A           &kp S           &kp D           &kp G           &kp H    &kp J           &kp K           &kp L           &kp SEMI
        &kp LCTRL       &kp X           &kp C           &kp V           &kp B           &kp N    &kp M           &kp COMMA       &kp DOT         &kp SLASH
        &to 0           &kp SPACE       &kp ESC         &kp TAB  &kp SPACE       &kp ENTER
        >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    // Layer 9: Bluetooth
    bluetooth_layer {
      // by default there are 5 max profiles
      // BT_SEL changes to given profile
      // BT_NXT/PRV goes forward and back 1 index
      // BT_CLR clears the current profile
      bindings = <
        &bt BT_CLR       &none           &none              &none        &none           &none           &none           &none           &none           &trans
          &none          &bt BT_SEL 4    &bt BT_SEL 5       &none        &none           &none           &none           &none           &none           &none
          &none          &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_NXT      &none           &none           &none           &none           &none
          &none          &none           &none           &none           &bt BT_PRV      &none
        >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };
  };
  };
